<!DOCTYPE HTML>
<!--
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="§LANG§">
<head>
	<meta charset="§CODEPAGE§" />
	<title>$TITLE$</title>
	<meta name="description" content="$DESCRIPTION$" />
	<meta name="keywords" content="$KEYWORDS$" />
	<meta name="robots" content="$ROBOTS$" />
	<meta name="date" content="$LASTMOD$" />
	<meta http-equiv="Content-Type" content="text/html; charset=§CODEPAGE§" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	|ADDSTYLES|
	|FAVICON|
	|META|
	<style>
§ADDCSS§
	</style>
	
</head>
<body class="§ADDCLASS§">
		<!-- Wrapper -->
			<div class="wrapper style1">
		§HEADLINE§
		§TEXT§
	    §FOOTER§
		</div>



	</body>
	$ADDSCRIPTS$
</html>