<!DOCTYPE html>
<html lang="§LANG§">
<head>
	<meta charset="§CODEPAGE§" />
	<title>$TITLE$</title>
	<meta name="description" content="$DESCRIPTION$" />
	<meta name="keywords" content="$KEYWORDS$" />
	<meta name="robots" content="$ROBOTS$" />
	<meta name="date" content="$LASTMOD$" />
	<meta name="viewport" content="width=device-width, minimum-scale=0.75, initial-scale=1">
	<meta name="msapplication-tap-highlight" content="no" />
	|FAVICON|
	|META|
	|ADDSTYLES|
</head>
<body §BGIMG§>
	§HEADLINE§
	<div id="container">
		§TEXT§
	</div>
	§FOOTER§
</body>
|ADDSCRIPTS|
</html>