<!DOCTYPE html>
<html lang="§LANG§">
<head>
	<meta charset="§CODEPAGE§" />
	<title>$TITLE$</title>
	<meta name="description" content="$DESCRIPTION$" />
	<meta name="keywords" content="$KEYWORDS$" />
	<meta name="robots" content="$ROBOTS$" />
	<meta name="date" content="$LASTMOD$" />
	<meta http-equiv="Content-Type" content="text/html; charset=§CODEPAGE§" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	|ADDSTYLES|
	|FAVICON|
	|META|
	<style>
§ADDCSS§
	</style>
	
</head>
<body class="§ADDCLASS§">
		§HEADLINE§
		<div id="wrap">
			§TEXT§
	    §FOOTER§
		</div>
</body>
$ADDSCRIPTS$
</html>